# Python Crash Course

## Variables, Lists, Dictionaries, Loops, If-else, Functions

In [1]:
# first code within python
print ("Hello World!")

Hello World!

In [6]:
#variables within python
a = "Hello"
b = "Prem"

print(a + " " + b)

Hello Prem

In [4]:
c = 89 # number of type int
d = 9.11 # number of type float
e = "89"

print(type(e))
print(type(c))

<class 'str'>
<class 'int'>

In [8]:
age = 34
print (a + " my name is " + b + ". My age is {}".format(age))

Hello my name is Prem. My age is 34

## Different Data Types

- Numbers
- Strings
- Lists
- Dictionaries
- Tuples
- String Indexing
- Printing and String Formatting
- Python operators and comparison operators
- List Indexing and Dictionary items. d.iter or d.items


### Mutable and Immutable Data Types
**Immutable types**: Strings, Numbers, Tuples, Sets <br>
**Mutable types**: Lists, Dictionaries

### Python Operators
`+` addition <br>
`-` substract <br>
`*` multiplication <br>
`/` division <br>
`**` to the power <br>
`==` equals to <br>
`!=` not equal to <br>
`%` modulo (remainder) <br>
`>` more than <br>
`<` less than <br>
`>=` more than or equals to <br>
`<=` less than or equals to <br>
`~` : complement <br>
`&` : bitwise and <br>
`|` : bitwise or <br>
`^` : bitwise xor <br>
`and`: logical and <br>
`or`: logical or <br>


### `and` and `&`
Use `and` for operations that yield boolean values like `is` or `is not` or `==` or so.. otherwise use `&` for bitwise or for numbers.. [use this SO link](https://stackoverflow.com/questions/3845018/boolean-operators-vs-bitwise-operators)
`&` is a bitwise operation, like 1 is `00000001` and 2 is `00000010`, so when you do `1&2` it should give `00000000`
whereby if you do `1|2` it should give `00000011` which is 3

In [9]:
# indexing with strings
my_sentence = "I am going to learn basic data analysis today"
my_sentence

'I am going to learn basic data analysis today'

In [12]:
my_sentence[26:30]

'data'

In [13]:
len(my_sentence)

45

In [15]:
my_sentence[::-1]

'yadot sisylana atad cisab nrael ot gniog ma I'

In [18]:
word_today = my_sentence[40:]
word_today

'today'

In [23]:
my_sentence[-5:]

'today'

In [24]:
#list - a collection of variables 
my_list = [a, b, "new word", 3.174]
my_list

['Hello', 'Prem', 'new word', 3.174]

In [26]:
# list indexing
# get the first item from list
my_list[3]

3.174

In [27]:
len(my_list)

4

In [28]:
new_sentence = my_sentence[26:30] + " " + my_sentence[-5:]

In [29]:
new_sentence

'data today'

In [30]:
my_tuple = (a, b,"new word", 3.174 )
my_tuple

('Hello', 'Prem', 'new word', 3.174)

In [33]:
# dictionary -> another type of collection
my_dictionary = {"key1": a, "key2": b, "item3": 9.34}
my_dictionary

{'item3': 9.34, 'key1': 'Hello', 'key2': 'Prem'}

In [35]:
# the main difference between dictionary and list is how you index
my_dictionary["key1"]

'Hello'

## If, elif, else

if Statements in Python allows us to tell the computer to perform alternative actions based on a certain set of results.

Verbally, we can imagine we are telling the computer:

"Hey if this case happens, perform some action"

We can then expand the idea further with elif and else statements, which allow us to tell the computer:

"Hey if this case happens, perform some action. Else if another case happens, perform some other action. Else-- none of the above cases happened, perform this action"

Let's go ahead and look at the syntax format for if statements to get a better idea of this:

````python
if case1:
    doAction1()
elif case2:
    doAction2()
else: 
    doAction3()
````

In [38]:
num1 = 7
num2 = 5
num3 = 6

if num1>num2:
  print("Num1: {} is bigger than Num2: {}".format(num1,num2))
if num3%2==0:
  print("Num3 : {} is an even number".format(num3))
else:
  print("Do nothing")

Num1: 7 is bigger than Num2: 5
Num3 : 6 is an even number

In [40]:
num1 = 2
num2 = 5
num3 = 3

if num1>num2:
  print("Num1: {} is bigger than Num2: {}".format(num1,num2))
elif num3%2==0:
  print("Num3 : {} is an even number".format(num3))
else:
  print("Do nothing")

Do nothing

## For loop, enumeration, range( ) and list comprehensions
**For** loop acts as an iterator in Python, it goes through items that are in a *sequence* or any other iterable item. Objects that we've learned about that we can iterate over include strings,lists,tuples, and even built in iterables for dictionaries, such as the keys or values.

We've already seen the **for** statement a little bit in past lectures but now lets formalize our understanding.

Here's the general format for a **for** loop in Python:

````python
for item in object:
    doSomething()
````


**Enumerate** allows you to keep a count as you iterate through an object. It does this by returning a tuple in the form (count,element). The function itself is equivalent to:

````python
def enumerate(sequence, start=0):
    n = start
    for elem in sequence:
        yield n, elem
        n += 1
````

**List Comprehension** - List comprehensions are normally used when you can write everything that is happening inside a for loop in a single line. This is normally for a single operation in for loops

In [42]:
my_list

['Hello', 'Prem', 'new word', 3.174]

In [41]:
for item in my_list:
  if item == "Prem":
    print(" Found the name in dataset")
  else:
    print("found nothing")

found nothing
 Found the name in dataset
found nothing
found nothing

In [43]:
for index,item in enumerate(my_list):
  if item == "Prem":
    print(" Found the name in dataset in index: {}".format(index))
    break
  else:
    print("found nothing")

found nothing
 Found the name in dataset in index: 1

## While Loop

The **while** statement in Python is one of most general ways to perform iteration. A **while** statement will repeatedly execute a single statement or group of statements as long as the condition is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.

The general format of a while loop is:

````python
while someCondition:
    #code statement
else:
    #final code statements
````

Let’s look at a few simple while loops in action. 

**WARNING!!**
````python
#DONT EVER RUN THIS SORT OF STATEMENTS => this will run forever and might crash your memory..
while 1:
    print ("something")
````

## Functions and Methods

Local Variables - Variables that are inside a loop or function, only available to that space<br>
Global Variables - Variables that can be used anywhere in the code
<br>
<br>
`Enumerate`- To separate key,value of a list or anything

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. If you remember back to the lessons on strings and lists, remember that we used a function len() to get the length of a string. Since checking the length of a sequence is a common task you would want to write a function that can do this repeatedly at command.

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design (we will dive much deeper into the ideas of design when we learn about Object Oriented Programming).

Let's see how to build out a function's syntax in Python. It has the following form:

````python
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

````

We begin with def then a space followed by the name of the function. Try to keep names relevant, for example len() is a good name for a length() function. Also be careful with names, you wouldn't want to call a function the same name as a [built-in function in Python](https://docs.python.org/2/library/functions.html) (such as len).

Next come a pair of parenthesis with a number of arguments separated by a comma. These arguments are the inputs for your function. You'll be able to use these inputs in your function and reference them. After this you put a colon.

Now here is the important step, you must indent to begin the code inside your function correctly. Python makes use of *whitespace* to organize code. Lots of other programing languages do not do this, so keep that in mind.

Next you'll see the doc-string, this is where you write a basic description of the function. Using iPython and iPython Notebooks, you'll be ab;e to read these doc-strings by pressing Shift+Tab after a function name. Doc strings are not necessary for simple functions, but its good practice to put them in so you or other people can easily understand the code you write.

After all this you begin writing the code you wish to execute.

The best way to learn functions is by going through examples. So let's try to go through examples that relate back to the various objects and data structures we learned about before.

In [44]:
#a code to add two numbers
def add_values(num1, num2):
  return num1+num2

In [45]:
add_values(3,4)

7

In [46]:
add_values(3.445,8223)

8226.445

## Map, Reduce, Filter, Zip and Lambda Expressions

### Lambda Expressions

One of Pythons most useful (and for beginners, confusing) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions. This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

Function objects returned by running lambda expressions work exactly the same as those created and assigned by defs. There is key difference that makes lambda useful in specialized roles:

**lambda's body is a single expression, not a block of statements.**

* The lambda's body is similar to what we would put in a def body's return statement. We simply type the result as an expression instead of explicitly returning it. Because it is limited to an expression, a lambda is less general that a def. We can only squeeze design, to limit program nesting. lambda is designed for coding simple functions, and def handles the larger tasks.

In [ ]:
def square(num):
    return num**2

In [ ]:
square(4)

16

In [ ]:
square2 = lambda num: num**2

In [ ]:
square2(5)

25

# Data Analysis with Python Pandas, Numpy and Matplotlib
## Salaries and Breast Cancer Dataset
For Breast Cancer can also get similar dataset from Kaggle [here](https://www.kaggle.com/uciml/breast-cancer-wisconsin-data)

In [47]:
# analyze salaries dataset
# import pandas
import pandas as pd

#get the dataset
df = pd.read_csv("https://raw.githubusercontent.com/PremChandran15/AltLabs/master/Alt.Labs10/Salaries.csv")
df

            Id       EmployeeName  ...         Agency  Status
0            1     NATHANIEL FORD  ...  San Francisco     NaN
1            2       GARY JIMENEZ  ...  San Francisco     NaN
2            3     ALBERT PARDINI  ...  San Francisco     NaN
3            4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4            5    PATRICK GARDNER  ...  San Francisco     NaN
...        ...                ...  ...            ...     ...
148649  148650      Roy I Tillery  ...  San Francisco     NaN
148650  148651       Not provided  ...  San Francisco     NaN
148651  148652       Not provided  ...  San Francisco     NaN
148652  148653       Not provided  ...  San Francisco     NaN
148653  148654          Joe Lopez  ...  San Francisco     NaN

[148654 rows x 13 columns]

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [49]:
df.describe()

                  Id        BasePay  ...  Notes  Status
count  148654.000000  148045.000000  ...    0.0     0.0
mean    74327.500000   66325.448841  ...    NaN     NaN
std     42912.857795   42764.635495  ...    NaN     NaN
min         1.000000    -166.010000  ...    NaN     NaN
25%     37164.250000   33588.200000  ...    NaN     NaN
50%     74327.500000   65007.450000  ...    NaN     NaN
75%    111490.750000   94691.050000  ...    NaN     NaN
max    148654.000000  319275.010000  ...    NaN     NaN

[8 rows x 10 columns]

In [51]:
df.isnull()

           Id  EmployeeName  JobTitle  BasePay  ...   Year  Notes  Agency  Status
0       False         False     False    False  ...  False   True   False    True
1       False         False     False    False  ...  False   True   False    True
2       False         False     False    False  ...  False   True   False    True
3       False         False     False    False  ...  False   True   False    True
4       False         False     False    False  ...  False   True   False    True
...       ...           ...       ...      ...  ...    ...    ...     ...     ...
148649  False         False     False    False  ...  False   True   False    True
148650  False         False     False     True  ...  False   True   False    True
148651  False         False     False     True  ...  False   True   False    True
148652  False         False     False     True  ...  False   True   False    True
148653  False         False     False    False  ...  False   True   False    True

[148654 rows x 13 columns]

In [53]:
#average Base Pay
df["BasePay"].mean()

66325.44884050643

In [54]:
#Highest amount of Base Pay
df["BasePay"].max()

319275.01

In [55]:
#Highest amount of Overtime
df["OvertimePay"].max()

245131.88

In [56]:
# highest paid employee (base pay)
df[df["BasePay"]==df["BasePay"].max()]["EmployeeName"]

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

In [57]:
# highest paid employee
df[df["BasePay"]==df["BasePay"].max()][["EmployeeName","JobTitle"]]

         EmployeeName         JobTitle
72925  Gregory P Suhr  Chief of Police

In [58]:
# what is total pay benefit of say Joseph Driscoll?
df[df["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [59]:
# what is the average base pay by year
df.groupby("Year")["BasePay"].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [60]:
# Number of unique job titles
df["JobTitle"].nunique()

2159

In [63]:
#what are the 5 most common job titles
#METHOD 1 = using value counts
df["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [73]:
#METHOD 2 = sort_values and loop through like SQL
df.sort_values(by="JobTitle", ascending=False)["JobTitle"]

18778            ZOO CURATOR
58842     Youth Comm Advisor
103333    Youth Comm Advisor
138458    Youth Comm Advisor
98074     Youth Comm Advisor
                 ...
25387          ACCOUNT CLERK
25505          ACCOUNT CLERK
25692          ACCOUNT CLERK
25723          ACCOUNT CLERK
31245          ACCOUNT CLERK
Name: JobTitle, Length: 148654, dtype: object

In [66]:
# get the relationship between a person's job title and pay benefits
#create a new column for jobtitle length
df["JobTitle_length"] = df["JobTitle"].apply(len)

df

            Id       EmployeeName  ... Status  JobTitle_length
0            1     NATHANIEL FORD  ...    NaN               46
1            2       GARY JIMENEZ  ...    NaN               31
2            3     ALBERT PARDINI  ...    NaN               31
3            4  CHRISTOPHER CHONG  ...    NaN               36
4            5    PATRICK GARDNER  ...    NaN               44
...        ...                ...  ...    ...              ...
148649  148650      Roy I Tillery  ...    NaN                9
148650  148651       Not provided  ...    NaN               12
148651  148652       Not provided  ...    NaN               12
148652  148653       Not provided  ...    NaN               12
148653  148654          Joe Lopez  ...    NaN               26

[148654 rows x 14 columns]

In [67]:
# correlation/relationship between Job title length and pay
df[["JobTitle_length","TotalPayBenefits"]].corr()

                  JobTitle_length  TotalPayBenefits
JobTitle_length          1.000000         -0.036878
TotalPayBenefits        -0.036878          1.000000

In [68]:

df["Year Diff"] = df["Year"] - 2020
df["Year Diff"]

0        -9
1        -9
2        -9
3        -9
4        -9
         ..
148649   -6
148650   -6
148651   -6
148652   -6
148653   -6
Name: Year Diff, Length: 148654, dtype: int64

In [69]:
import datetime
datetime.datetime.now()

datetime.datetime(2020, 10, 16, 3, 56, 16, 666389)

In [70]:
new_string = "Base15Pay"
new_string.split("15")

['Base', 'Pay']

In [72]:
len(new_string)

9

In [71]:
add_values(3,4)

7